# Set a unique name for this project - to identify Docker containers correctly
COMPOSE_PROJECT_NAME=my-new-project

# Existing path to your project's source code directory containing ALL your code
# (including the entire datalab stack!)
# Example: DATALAB_SOURCECODE_DIR=C:\Users\kat\Documents\GitHub\Project XYZ
DATALAB_SOURCECODE_DIR=C:\Users\kat\Documents\GitHub\Neuer Ordner

# Existing path to your project's DATA directory
# Example: DATALAB_DATA_DIR=C:\Users\kat\data
DATALAB_DATA_DIR=C:\Users\kat\data



#
# If you want to have SEVERAL projects running simultaneously, change the ports
# of the stack that you need to have up at the same time:
#
DATALAB_CONTROLBOARD_PORT=12334
DATALAB_JUPYTER_PORT=8888

DATALAB_POSTGRES_PORT=5432
DATALAB_MYSQL_PORT=3306

DATALAB_ELK_ELASTICSEARCH_PORT1=9200
DATALAB_ELK_ELASTICSEARCH_PORT2=9300
DATALAB_ELK_LOGSTASH_PORT1=5000
DATALAB_ELK_LOGSTASH_PORT2=9600
DATALAB_ELK_ELASTICSEARCH_KIBANA=5601



#
# You probably never need to change anything here!
#
DATALAB_JUPYTER_COMPOSE_PATH=.\jupyter\docker-compose.yml
DATALAB_ELK_PATH=.\elk\docker-compose.yml
DATALAB_POSTGRES_PATH=.\postgres\docker-compose.yml
DATALAB_MYSQL_PATH=.\mysql\docker-compose.yml
DATALAB_NEO4J_PATH=.\neo4j\docker-compose.yml
DATALAB_DOCKER_NETWORK=datalab-network
