# Set a unique name for this project - to identify resources correctly
# Use ASCII characters only, no Umlaute, no spaces, nothing funky
PROJECT_NAME=my-new-project

# Existing path to your project's source code directory containing ALL your code
# (including the entire datalab stack!)
# Example: DATALAB_SOURCECODE_DIR=C:\Users\kat\Documents\GitHub\Project XYZ
DATALAB_SOURCECODE_DIR=C:\GitHub\datalab

# Existing path to your project's DATA directory
# Example: DATALAB_DATA_DIR=C:\Users\kat\data
DATALAB_DATA_DIR=C:\Users\kat\data

